.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        padding: 50px 57px 67px 56px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: #C70101;
    }
    &__addr {
        margin-bottom: 36px;
        font-family: MuseoModerno;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    &__phone {
        display: block;
        margin-bottom: 36px;
        font-family: MuseoModerno;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
        }
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__social-item {
        margin: 0 15px;
    }
}